@use "../../../../helpers/styles/colors" as colors;

.form {
    width: 100%;
    border-bottom: 1px solid #fcc521;
    padding: 8px;
    background-color: colors.$color-background-light;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    &--container {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
}

.input {
    background-color: colors.$color-background;
    border-radius: 4px;
}