.block {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.photos-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    gap: 6px;
}

.files-grid {
    display: flex;
    flex-direction: column;
    gap: 4px;
}