@use "@app/helpers/styles/_colors.scss" as colors;

.sidebar-content {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    padding-bottom: 24px;
}

.form {
    border-bottom: 1px solid colors.$color-yellow-primary;
    padding: 8px;
    background-color: colors.$color-background-light;

    display: flex;
    flex-direction: row;
    gap: 4px;

}