div(class="block__chatArea")
    div(class="block__chatArea_container")
        div(class="chatArea__row")
            div(class="chatArea_list" id="messages-list")
            div(class="chatArea_current" id="message-area")