$block-adding-top: 100px;

.block {
  &__chatArea {
    padding-top: $block-adding-top;
    background-color: #0A0A0A;
    height: 100vh;
    &_container {
      width: 100%;
      height: 100%;
      max-width: 1440px;
      margin: 0px auto;
    }
  }
}

.chatArea {
  &__row {
    display: flex;
    justify-content: center;
    align-items: normal;
    height: calc(100vh - $block-adding-top);
  }
  &_list {
    height: calc(100vh - 2*$block-adding-top);
    flex-basis: 350px;
    background-color: #000000;
    overflow: auto;
    border: solid 2px #483D8BFF ;

    border-radius: 15px 0 0 15px;
  }

  &_current {
    height: calc(100vh - 2*$block-adding-top);
    background-color: #211B41FF;
    flex-basis: 80%;
  }
}

.messages-list {
  width:300px;
  height:200px;
}