@use '@app/helpers/styles/colors.scss' as colors;
@use '@app/helpers/styles/responsives.scss' as responsive;

.header {
    width: 100%;
    border-bottom: solid #333333;
}

.header .content {
    display: flex;
    justify-content: start;
    margin: 10px;
    align-items: center;

    @include responsive.media-tablet {
        justify-content: space-between;
    }
}

.header .info {
    margin-left: 15px;
    width: 150px;
    display: flex;
    align-items: center;
    gap: 8px;

    @include responsive.media-tablet {
        flex-direction: row-reverse;
    }
}

.avatar {
    width: 55px;
    height: 55px;
}

.back {
    color: colors.$color-text-primary;
    cursor: pointer;
}
