.search-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.search-results {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}