div(class="form-block")
    div(class="form-block__panel")
        form(class="signup-login-form")
            div(class="signup-login-form__text") Вход
            div#error
            div(class="signup-login-form__column")
                input(class="signup-login-form__row" id="login" type="text" placeholder="Логин")
                input(class="signup-login-form__row" id="password" type="text" placeholder="Пароль")
                input(class="signup-login-form__btn" type="submit" name="auth" value="Продолжить")