div(id="navbar" class="navbar")
    nav(class="navbar-container container-new")
        a(id="container-new-logo__column" class="container-new-logo__column")
            div(class="container-new-logo__row")
                i(class="container-new-logo__text")
            div(class="container-new-logo__row logo")
                span Messenger
        button(type="button" class="container-new__toggle" aria-expanded="false" aria-controls="navbar__btn")
            span( class="container-new__strip")
            span( class="container-new__strip")
            span( class="container-new__strip")
        div(id="navbar__btn" class="detached")
grusha(id="lol")