img
{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header {
  background-color: #0a0a0a;
  height: 70px;
  width: 100%;
  position: fixed;
  box-shadow: 0 0 1.2em rgba(91, 51, 171, 0.78);

  &__container {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    margin-left: 10px;
    flex: 0 0 10%;
    &_icon {
      width: 50px;
      height: 50px;
    }
  }
  &__navbar {
    flex: 0 0 90%;
    display: flex;
    text-align: center;
    font-weight: 300;
    &_element {
      color: #fff;
      text-decoration: none;
      moz-text-shadow:0 0 10px #D0CB8B;
      -webkit-text-shadow:0 0 10px #D0CB8B;
      text-shadow:0 0 10px #D0CB8B;
        &:hover {
          moz-text-shadow:0 0 10px #5B33AB;
          -webkit-text-shadow:0 0 10px #5B33AB;
          text-shadow:2px 2px 10px #5B33AB;
          font-weight: 700;
          color: #fff;
        }
    }
  }
}

.navbar {
  &__element {
    color: #a3A3A3;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    //flex: 0 0 33.333%;
  }
}

.element-background {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  flex: 0 0 auto;
}