.header {
    width: 100%;
    border-bottom: 1px solid #fcc521;
    padding: 16px 0;

    &--container {
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
    }
}