.error {
    font-weight: bold;
    margin: auto;
}

.messages {
    width: 100%;
    flex: 1;
    overflow: scroll;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
}