.messageLine {
    padding: 5px 10px;
    display: flex;
    margin-top: 15px;
    align-items: flex-end;
    gap: 8px;
}

.messageText {
    padding: 5px 10px;
    border-radius: 4px;
    max-width: 370px;
    margin: 0;
    border-radius: 10px 10px 10px 1px;
}
.messageDate.loading {
    width: 15px;
    height: 1em;
    margin: 0 1em !important;
}

.messageTime {
    max-width: 370px;
    margin: 0;
    font-size: 12px;
}

.notMine.loading, .mine.loading {
    width: 150px;
    height: 1em;
}

.mine .messageText {
    background-color: #fcc521;
    color: #333333;
}
.notMine .messageText {
    background-color: DodgerBlue;
}