@use '@app/helpers/styles/_colors.scss' as colors;
@use '@app/helpers/styles/responsives' as responsives;

.message {
    display: flex;
    margin-top: 15px;
    align-items: flex-end;
    gap: 8px;
}

.message-content {
    padding: 10px;
    border-radius: 4px;
    max-width: 370px;
    margin: 0;
    border-radius: 10px 10px 10px 1px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.messageDate.loading {
    width: 15px;
    height: 1em;
    margin: 0 1em !important;
}

.message--time {
    max-width: 370px;
    margin: 0;
    font-size: 12px;
}

.message--text {
    font-size: 18px;
    font-weight: 400;

    @include responsives.media-mobile {
        font-size: 14px;
    }
}

.mine {
    flex-direction: row-reverse;
    align-self: flex-end;
}

.notMine.loading,
.mine.loading {
    width: 150px;
    height: 1em;
}

.mine .message-content {
    background-color: #fcc521;
    color: #333333;
    border-radius: 10px 10px 1px 10px;
}
.notMine .message-content {
    background-color: DodgerBlue;
}
