div(class="block__main")
    div(class="block__main_container")
        div(class="main__row")
            div(class="main__row_column-1")
                h1(class="title") Здарова, Отец
                p(class="description") Приветик, мы знаем, ты зашёл сюда не просто так. Пока что тут ничего нет, но тебе стоит вернуться сюда через какое-то время и ты увидишь, что тут будет много всего интересного! До встречи!
                div(class="button-row")
                    each cont in mainContent
                        div(class="button-column")
                            button(class="button__main" id=cont.link)=cont.title
                            p(class="description__button")=cont.description

            div(class="main__row_column-2")
                img(class="block__about_img" src="/father.gif")