div(class="block__about")
    div(class="block__about_container")
        div(class="about__row")
            div(class="about__row_column-1")
                h1(class="title") А чё это такое то?
                p(class="description") Приветик, мы знаем, ты зашёл сюда не просто так. Пока что тут ничего нет, но тебе стоит вернуться сюда через какое-то время и ты увидишь, что тут будет много всего интересного! До встречи!
            div(class="about__row_column-2")
                img(class="block__about_img" src="https://cs5.pikabu.ru/post_img/2015/12/19/9/1450534692199984225.gif")
                