@import "../../helpers/styles/colors.scss";

.page {
    display: grid;
    grid-template-columns: 350px 1fr;
    height: 100vh;
    overflow: hidden;
    width: 100%;

    max-width: 1200px;
    margin: 0 auto;
    border-left: 1px solid $color-yellow-primary;

    &--sidebar {
        border-right: 1px solid $color-yellow-primary;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }

    &--content {
        display: flex;
        flex-direction: column;
        border-right: 1px solid $color-yellow-primary;
    }
}