@import "../../../helpers/styles/colors";

.block {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 4px;
    border-radius: 8px;

    &:hover {
        background: rgba($color: $color-grey-light, $alpha: 0.3);
    }

    box-sizing: content-box;
    gap: 8px;

    &--large {
        flex: 1;
    }

    &--small {
        width: 100px;
        max-width: 100px;
    }

    &--xsmall {
        width: unset;
        flex-direction: row !important;
        gap: 8px;
    }
}

.button-delete {
    position: absolute;
    right: -8px;
    top: -8px;
}

.file {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100px;

    &-name {
        font-size: 14px;
        line-height: 18px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &-type {
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
        font-weight: 600;
        color: $color-background-light;
    }

    &--xsmall {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}