.block {
    position: relative;
    display: flex;
    flex-direction: column;


    box-sizing: content-box;

    &--large {
        flex: 1;
    }

    &--small {
        width: 100px;
        max-width: 100px;
    }
}

.button-delete {
    position: absolute;
    right: -8px;
    top: -8px;
}

.file-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100px;
}